# Dependencies
node_modules/

# Build artifacts
/dist/
/build/*
!/build/notarize.js
!/build/entitlements.mac.plist
/out/
/*.dmg
/*.exe
/*.AppImage
/*.zip

# macOS files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
updater-config.json
